# Data Gathering Part 2
Download images and make labels

In [ ]:
import requests, re, time
import torch, torchvision
from torch import nn, optim
from torchvision import datasets, models, transforms
import matplotlib.pyplot as pl
from tqdm.auto import tqdm
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/CPEN 291/project/artsy.csv')
df.head()

   Unnamed: 0                                              image    price
0           0  https://d7hftxdivxxvm.cloudfront.net/?resize_t...  $12,000
1           1  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   $6,250
2           2  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   $5,000
3           3  https://d7hftxdivxxvm.cloudfront.net/?resize_t...     $475
4           4  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   $5,100

In [ ]:
# Currency convertor/ Price formatter
# Assuming that exchange rates have not changed drastically since the time of auction
import re
def cr_cnvrtr(oldPrice):
  rates = {
      "$" : 1,
      "£" : 1.37,
      "PHP " : 0.02,
      "PHP\xa0" : 0.02,
      "CZK " : 0.04,
      "CZK\xa0" : 0.04,
      "CHF " : 1.06,
      "CHF\xa0" : 1.06,
      "€" : 1.17,
      "CA$" : 0.79,
      "A$" : 0.76,
      "PLN " : 0.25,
      "PLN\xa0" : 0.25,
      "NZ$" : 0.7,
      "ZAR " : 0.07,
      "ZAR\xa0" : 0.07,
      "NT$" : 0.04
           }
  if ('$' in oldPrice):
    oldPlist = re.split('1|2|3|4|5|6|7|8|9', oldPrice);
    newP = float(oldPrice.replace(oldPlist[0], '').replace(',', '')) * rates[oldPlist[0]]
  else:
    newP = float(oldPrice.replace(',', ''))
  #print(newP)
  return newP

In [ ]:
df["price"] = df["price"].apply(cr_cnvrtr)
df.head()

   Unnamed: 0                                              image    price
0           0  https://d7hftxdivxxvm.cloudfront.net/?resize_t...  12000.0
1           1  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   6250.0
2           2  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   5000.0
3           3  https://d7hftxdivxxvm.cloudfront.net/?resize_t...    475.0
4           4  https://d7hftxdivxxvm.cloudfront.net/?resize_t...   5100.0

In [ ]:
labels = pd.DataFrame(columns=['name', 'price'])
labels.head()

Empty DataFrame
Columns: [name, price]
Index: []

In [ ]:
# liveauctioneers
for index, row in df.iterrows():
  if (row['price'] <= 20000): # Upper threshold we chose
    newRow = {'name': f'liveauctioneer_{index}.jpg', 'price': row['price']};
    resp = requests.get(row['image'])
    with open(f"/content/drive/My Drive/CPEN 291/project/data/liveauctioneer_{index}.jpg", 'wb') as f:
        f.write(resp.content)
    labels = labels.append(newRow, ignore_index=True)
    time.sleep(5)

labels.to_csv('/content/drive/My Drive/CPEN 291/project/data/liveauctioneer_labels.csv')

In [ ]:
# artsy
for index, row in df.iterrows():
  if (row['price'] <= 20000): # Upper threshold we chose
    newRow = {'name': f'artsy_{index}.jpg', 'price': row['price']};
    resp = requests.get(row['image'])
    with open(f"/content/drive/My Drive/CPEN 291/project/data/artsy_{index}.jpg", 'wb') as f:
        f.write(resp.content)
    labels = labels.append(newRow, ignore_index=True)
    time.sleep(2)

labels.to_csv('/content/drive/My Drive/CPEN 291/project/data/artsy_labels.csv')

In [ ]:
labels = pd.DataFrame(columns=['name', 'price'])
labels.head()

Empty DataFrame
Columns: [name, price]
Index: []

In [ ]:
# christies
df = pd.read_excel('/content/drive/My Drive/CPEN 291/project/christies.xlsx')
df.head()

   Unnamed: 0  ...  price
0           1  ...  16800
1           2  ...   8400
2           3  ...  14000
3           4  ...   7000
4           5  ...   3500

[5 rows x 4 columns]

In [ ]:
# christies
for index, row in df.iterrows():
  if (row['price'] <= 20000): # Upper threshold we chose
    newRow = {'name': f'christies_{index}.jpg', 'price': row['price']};
    resp = requests.get(row['image'])
    with open(f"/content/drive/My Drive/CPEN 291/project/data/christies_{index}.jpg", 'wb') as f:
        f.write(resp.content)
    labels = labels.append(newRow, ignore_index=True)
    time.sleep(5)

labels.to_csv('/content/drive/My Drive/CPEN 291/project/data/christies_labels.csv')

In [ ]:
# artsper
df = pd.read_excel('/content/drive/My Drive/CPEN 291/project/artsper.xlsx')
print(df.head())
for index, row in tqdm(df.iterrows(), total=df.shape[0]):
  if (row['price'] <= 20000): # Upper threshold we chose
    newRow = {'name': f'artsper_{index}.jpg', 'price': row['price']};
    resp = requests.get(row['image'])
    with open(f"/content/drive/My Drive/CPEN 291/project/data/artsper_{index}.jpg", 'wb') as f:
        f.write(resp.content)
    labels = labels.append(newRow, ignore_index=True)
    time.sleep(2)

labels.to_csv('/content/drive/My Drive/CPEN 291/project/data/artsper_labels.csv')

   Unnamed: 0                                              image  price
0           1  https://media.artsper.com/artwork/1042986_1_gr...    307
1           2  https://media.artsper.com/artwork/1057140_1_gr...   3440
2           3  https://media.artsper.com/artwork/1053681_1_gr...   3071
3           4  https://media.artsper.com/artwork/1060317_1_gr...   2076
4           5  https://media.artsper.com/artwork/1061736_1_gr...    491

HBox(children=(FloatProgress(value=0.0, max=569.0), HTML(value='')))

In [ ]:
a = labels.loc[labels['name'] == 'liveauctioneer_101.jpg'].index[0]
labels.loc[labels['name'] == 'liveauctioneer_101.jpg']['price'][a]

In [ ]:
# combine all labels csv files
chr = pd.read_csv('/content/drive/My Drive/CPEN 291/project/data/christies_labels.csv')
live = pd.read_csv('/content/drive/My Drive/CPEN 291/project/data/liveauctioneer_labels.csv')
artsy = pd.read_csv('/content/drive/My Drive/CPEN 291/project/data/artsy_labels.csv')
artsper = pd.read_csv('/content/drive/My Drive/CPEN 291/project/data/artsper_labels.csv')

frames = [chr, live, artsy, artsper]
result = pd.concat(frames)

result.to_csv('/content/drive/My Drive/CPEN 291/project/data/all_labels.csv')